<h2>Hi <%= @user.name %></h2>
<p>Are you ready to join the BigBang app?</p>

<p>We automatically created a profile for you to login:</p>
<b>Email:</b> <%= @user.email %><br>
<b>Password:</b> <%= @password %><br><br>

Join now the official AIA <a href="http://37.139.28.131">BigBang</a> app!