<h3>Who would you like to bang?</h3>
<p>Only people who opted in are shown below.</p>
<div class="row">
  <div class="col-sm-6">
      <div class="alert alert-success">
      <h4><strong>Your privacy is safe!</strong></h4>
        <ul>
          <li>Only mutual bangs are revealed. If you are down to bang someone that is not interested in you, he, she or anyone else would never ever know.</li>
          <li>Data is encrypted in our database and only you can access your bang.</li>
          <li>You can only bang up to 15 people. If you click "Down to bang" and then remove it, it will still count. So use this app carefully ;)</li>        
        </ul>
      </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= image_tag(user.avatar.present? ? user.avatar.url(:thumb) : 'http://placehold.it/100x70') %>
          <%= user.name %></td>
          <td><%= user.email %></td>
        <td>

          <%= down_to_bang_cta(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

