
<h4>Hi <%= current_user.name %>!</h4>
<p>To join TheBigBang you have to optin!</p>
<p><%= User.where(:optin => true).count %> friends have already opted in</p>

<%= button_to 'Yes, I want to optin!', change_optin_user_path(current_user, :optin => true), class: 'btn btn-success' %>
<%# button_to 'Opt Out', change_optin_path(:optin => false) %>