<% if current_user.optin? %>
<h4>And you’re in! Good on you.</h4>
<p>But we need you to hold your horses for a little while longer…</p>
<p>Only <%= User.where(:optin => true).count %> of your mates have already opted in, why don't you get the rest to jump on the bang wagon?</p>
<p>We’re launching with a big bang on Valentines Day at 11AM!</p>
<% else %>
<p class="lead">Welcome to the BigBang app - the most banging app you’ll ever come across. </p>


<p >Now that you’re signed up, here’s why you’ll want to stay. No prospective bang will ever know you’ve sent them a bang request unless the vibe is mutual.</p>


<p >To join in on all the action, you’ll need to opt in. <%= User.where(:optin => true).count %> of your mates have already opted in – don’t leave them hanging.</p>



<%= button_to 'Yes, I want to optin!', change_optin_user_path(current_user, :optin => true), class: 'btn btn-success' %>
<%# button_to 'Opt Out', change_optin_path(:optin => false) %>

<% end %>